.marquee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 100vh;
  --v-offset: 60px;
  --curve-height: 200px;
}

.marquee-container::before,
.marquee-container::after {
  content: "";
  display: block;
  background: black;
  width: calc(100vw + 2 * var(--v-offset));
  height: var(--curve-height);
  position: absolute;
  border-radius: 45%;
  left: calc(-1 * var(--v-offset));
  right: calc(-1 * var(--v-offset));
}

.marquee-container::before {
  top: calc(-0.7 * var(--curve-height));
}

.marquee-container::after {
  bottom: calc(-0.7 * var(--curve-height));
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  height: inherit;
  border: thin solid red;
}

.marquee-slide {
  flex: 0 0 auto;
  width: calc(100vw / 3); /* Approx. 3 slides visible */
  padding-right: 10px; /* Avoid margin that can cause snapping */
}

.marquee-slide img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1200px) {
  .marquee-slide img {
    max-height: 60vh;
  }
}

@media screen and (max-width: 768px) {
  .marquee-slide img {
    max-height: 50vh;
  }
}